body {
	margin: 0;
	font-family: Montserrat, sans-serif;
}

.flex {
	display: flex;
	gap: 24px;
}

.mb-0 {
	margin-bottom: 0;
}
.mb-24 {
	margin-bottom: 24px;
}
.w-100 {
	width: 100%;
}

button {
	height: 48px;
	background-color: #16C8BB;
	font-weight: bold;
	font-size: 16px;
	border: none;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 4px;
	cursor: pointer;
}

h1 {
	color: #333333;
	font-weight: bold;
	line-height: 56px;
	font-size: 48px;
	margin-bottom: 32px;
	margin-top: 0;
}
h2 {
	color: #333333;
	font-weight: bold;
	line-height: 56px;
	font-size: 48px;
	margin-bottom: 24px;
	margin-top: 0;
}
h3 {
	color: #333333;
	font-weight: bold;
	line-height: 32px;
	font-size: 24px;
	margin-bottom: 16px;
	margin-top: 0;
}
h4 {
	color: #333333;
	font-weight: bold;
	line-height: 24px;
	font-size: 16px;
	margin-bottom: 16px;
	margin-top: 0;
}
p {
	color: #333333;
	font-weight: 500;
	line-height: 24px;
	font-size: 16px;
	margin-bottom: 24px;
	margin-top: 0;
}
p:last-child {
	margin-bottom: 0;
}
ul {
	padding-left: 0px;
	color: #333333;
	font-weight: 500;
	font-size: 16px;
	list-style: none;
}
ul li {
	margin-bottom: 14px;
	position: relative;
	padding-left: 24px;
}
ul li ul {
	margin-left: 56px;
	margin-top: 8px;
}
ul li ul li ul {
	margin-left: 24px;
}
ul li ul li::before {
	content: none;
}
ul li::before {
	content: "";
	color: #03B2A5;
	margin-right: 16px;
	margin-left: 8px;
	line-height: 0;
	width: 8px;
	height: 8px;
	background-color: #03B2A5;
	border-radius: 8px;
	position: absolute;
	top: 6px;
	left: 0px;
}
ul li a {
	color: #333333;
}

dl {
	border-radius: 16px;
	padding: 24px;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	margin-bottom: 24px;
}
dl dt {
	font-weight: bold;
	margin-bottom: 8px;
}
dl dd {
	font-weight: 500;
}
dl dd {
	margin-left: 0;
}
.dl-1 {
	background-color: #FEFAEC;
}
.dl-2 {
	background-color: #FFF3EB;
}
.dl-3 {
	background-color: rgba(3, 178, 165, 0.1);
}

.page__inner-separator {
	display: flex;
	justify-content: center;
	margin-bottom: 24px;
	margin-top: 24px;
}

.inner__content-tags {
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
	line-height: 20px;
	color: #2963A3;
	gap: 8px;
}
.inner__content-tags .inner__content-tags__dot {
	color: #494949;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-bottom: 24px;
}
.tags__item {
	border-radius: 24px;
	font-size: 14px;
	font-weight: 600;
	color: #333333;
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #C1C5CD;
	padding: 6px 8px 6px 8px;
	white-space: nowrap;
}
.tags__item:hover,
.tags__item--active {
	border: 2px solid #16C8BB;
	background-color: #F9FDFD;
}

.problem {
	border-top: 1px solid #dedede;
	background-image: url(../images/svg/problem_sidebg.svg);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: 74px 190px;
}
.problem__wrapper {
	padding-top: 72px;
	padding-bottom: 50px;
	width: 1200px;
	margin: 0 auto;
	background-image: url(../images/png/boygirl.png);
	background-repeat: no-repeat;
	background-position: top 100% left 100%;
	background-size: 520px 330px;
}
.problem__content {
	width: 350px;
}
.problem__title {
	margin-top: 0;
}
.problem__text {
	color: #333333;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 32px;
	font-weight: 400;
}
.problem__button {
	padding: 20px 24px;
	height: auto;
}
.inner__content-image img {
	margin-bottom: 16px;
	width: 100%;
}
.inner__content-image-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 0;
	color: #868686;
}
.blockquote-1 {
	margin: 0 0 24px 0;
	padding: 24px;
	border-radius: 16px;
	background-color: #F3F7FE;
}
.blockquote-1 .blockquote-1__text {
	font-size: 16px;
	line-height: 24px;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 8px;
	padding-top: 10px;
	background-image: url(../images/svg/quote.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 56px 36px;
}
.blockquote-1 .blockquote-1__author {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color: #333333;
}
.blockquote-2 {
	margin: 0 0 24px 0;
	height: 168px;
	padding: 24px 102px 0 102px;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	font-style: italic;
	font-weight: 400;
	background-image: url(../images/svg/textbg.svg);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
}
.inner__cover img {
	width: 100%;
}
.inner__cover {
	margin-bottom: 24px;
}
.author-date {
	color: #494949;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 24px;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 24px;
}
.cards--main {
	grid-template-columns: 1fr 1fr;
	margin-bottom: 24px;
}
.cards__card {
	width: 100%;
	border-radius: 16px;
	height: 475px;
	overflow: hidden;
	background-color: #ffffff;
}
.cards--main .cards__card {
	height: 500px;
}
.cards__card .cards__card-cover {
	height: 260px;
	position: relative;
	padding: 8px;
	box-sizing: border-box;
}
.cards__card .tags {
	position: relative;
	z-index: 10;
	flex-direction: column;
}
.cards__card .tags .tags__item {
	border: 1px solid #C1C5CD;
	background-color: rgba(255, 255, 255, 0.7);
	width: fit-content;
}
.cards__card .cards__card-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom 0 left 50%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.cards__card .cards__card-content {
	height: 215px;
	display: flex;
	flex-direction: column;
	padding: 16px;
	box-sizing: border-box;
	border: 1px solid #dedede;
	border-radius: 0 0 16px 16px;
}
.cards--main .cards__card .cards__card-content {
	height: 240px;
}
.cards__card .cards__card-date {
	margin-top: auto;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #868686;
	letter-spacing: 0.25px;
}
.cards__card .cards__card-content h2 {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 4px;
}
.cards__card .cards__card-author {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #494949;
	margin-bottom: 8px;
	letter-spacing: 0.25px;
}
.cards__card .cards__card-content p {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	margin-bottom: 0;
}

.header {
	padding: 20px 0;
	border-bottom: 1px solid #EFF5FB;
	margin-bottom: 16px;
}
.header .header__wrapper {
	display: flex;
	align-items: center;
}
.header .header__logo {
	margin-right: 50px;
}
.header .menu {
	font-size: 14px;
	color: #333333;

	display: flex;
	gap: 30px;
	letter-spacing: 0.25px;
	font-weight: 500;
}
.header .menu .menu__item a {
	color: #333333;
	text-decoration: none;
}
.header .header__button {
	margin-left: auto;
	background-color: #E3F5F5;
	color: #03B2A5;
}
.header .menu .menu__item--submenu a {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding-right: 22px;
	background-image: url(../images/svg/arrow_down.svg);
	background-repeat: no-repeat;
	background-position: 100% 3px;
}

.navigation {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	gap: 8px;
}
.navigation__item {
	color: rgba(51, 51, 51, 0.7);
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.25px;
}
.navigation__item a {
	color: rgba(51, 51, 51, 0.7);
	text-decoration: none;
}
.navigation__separator {
	margin-top: 2px;
}
.page__more {
	width: 100%;
	margin-top: 56px;
	margin-bottom: 96px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page__more button {
	width: 182px;
}

.footer {
	background-color: #2963A3;
}

.footer .footer__wrapper {
}
.footer .footer__main {
	display: flex;
	justify-content: space-between;
	gap: 90px;
	padding: 40px 0 24px 0;
}
.footer .footer__main .footer__socials {
}
.footer .footer__logo {
	margin-bottom: 40px;
}
.footer .footer__socials .footer__socials-items {
	display: flex;
	gap: 16px;
}
.footer .footer__socials .footer__socials-items .footer__social-item {
	width: 32px;
	height: 32px;
	border-radius: 32px;
	background-color: #EFF5FB;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer .footer__socials .footer__socials-items .footer__social-item--dark {
	background-color: #333333;
}
.footer .footer__socials .footer__socials-items .footer__social-item a {
	display: block;
}

.footer .footer__bottom {
	padding: 16px 0;
	display: flex;
	align-items: center;
	gap: 48px;
	border-top: 1px solid rgba(157, 157, 157, 0.3);
}

.footer .footer__bottom-item {
	font-size: 14px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.7);
}

.footer .footer__menu {
	display: flex;
	justify-content: space-between;
	gap: 90px;
}
.footer .footer__menu .footer__menu-col {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.footer .footer__menu .footer__menu-col a {
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
}
.footer__form {}
.footer__form .footer__form-title {
	color: #ffffff;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 8px;
	font-weight: bold;
}
.footer__form .footer__form-input {
	width: 384px;
	height: 48px;
	position: relative;
	margin-bottom: 8px;
}
.footer__form .footer__form-input .footer__form-control {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	border: none;
	padding: 14px 76px 14px 16px;
	box-sizing: border-box;
	outline: none;
}
.footer__form .footer__form-input .footer__form-button {
	position: absolute;
	right: 0;
	top: 0;
	height: 48px;
}
.footer__form .footer__form-text {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.25px;
	color: rgba(255, 255, 255, 0.7);
}

.inner__side-block {
	box-sizing: border-box;
}

.block-options {
	padding: 24px;
	background-color: #E6F0FD;
}
.block-options img {
	margin-bottom: 24px;
	width: 100%;
}
.block-options .block-options__title {
	color: #333333;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 16px;
	text-align: center;
	font-weight: bold;
}
.block-options .block-options__text {
	color: #333333;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 24px;
	text-align: center;
	font-weight: 400;
}
.block-options button {
	width: 100%;
}
.block-psih {
	padding: 16px 16px 36px;
	border: 1px solid #DEDEDE;
}
.block-psih .block-psih__about {
	padding-bottom: 16px;
	position: relative;
}
.block-psih .block-psih__userpic {
	padding-top: 8px;;
}
.block-psih .block-psih__tags {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 8px;
	top: 0;
}
.block-psih .block-psih__tag {
	background-color: rgba(243, 244, 248, 0.7);
	padding: 6px;
	display: flex;
	gap: 4px;
	border-radius: 6px;
	font-size: 12px;
	font-weight: 500;
	color: #333333;
	width: fit-content;
}
.block-psih .block-psih__userpic-img {
	width: 120px;
	height: 120px;
	border-radius: 120px;
	margin: 0 auto 24px;
	display: block;
}
.block-psih .block-psih__name {
	margin-bottom: 4px;
	font-size: 20px;
	color: #333333;
	font-weight: bold;
	text-align: center;
}
.block-psih .block-psih__occupation {
	margin-bottom: 4px;
	font-size: 16px;
	color: #333333;
	font-weight: 600;
	text-align: center;
}
.block-psih .block-psih__expirience-age {
	font-size: 14px;
	font-weight: 500;
	color: #A2A7B1;
	text-align: center;
}
.block-psih .block-psih__problems {
	padding-top: 16px;
	border-top: 1px solid #DEDEDE;
}
.block-psih .block-psih__title {
	font-size: 16px;
	color: #333333;
	margin-bottom: 8px;
	font-weight: bold;
}
.block-psih .block-psih__list {
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	margin-top: 0;
}
.block-psih .block-psih__list li {
	margin-bottom: 8px;
}
.block-psih .block-psih__list li:before {
	margin-right: 10px;
	margin-left: 2px;
}
.block-psih .block-psih__list li:last-child {
	margin-bottom: 0;
}
.block-psih .block-psih__problems button {
	width: 100%;
}
.block-care {
	background-color: #2963A3;
	padding: 60px 24px;
	height: 292px;
	box-sizing: border-box;
	background-image: url(../images//png//confetti.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	overflow: hidden;
}
.block-care:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../images//png/boxes.png);
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	background-position: bottom -20px left 50%;
}
.block-care .block-care__title {
	color: #ffffff;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
}
.block-sessions {
	padding: 32px;
	border: 1px solid #DEDEDE;
	background-image: url(../images/png/boxes_new.png);
	background-repeat: no-repeat;
	background-position: bottom -52px right -44px;
    background-size: 166px;
}
.block-sessions .block-sessions__title {
	margin-bottom: 16px;
	font-size: 18px;
	color: #2963A3;
	font-weight: bold;
}
.block-sessions .block-sessions__title span {
	font-size: 24px;
}
.block-sessions .block-sessions__text {
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 20px;
	color: #011632;
	font-weight: 400;
}
.block-sessions .block-sessions__price {
	font-size: 24px;
	color: #333333;
	font-weight: bold;
	margin-bottom: 16px;
}

.page .page__wrapper {
	width: 1200px;
	margin: 0 auto;
}

.inner {
	display: flex;
	justify-content: space-between;
}
.inner .inner__main {
	width: 690px;
	padding-bottom: 48px;
}
.inner .inner__side {
	width: 282px;
	min-width: 282px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.inner__side-block {
	border-radius: 16px;
}

.header .header__wrapper {
	width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

.footer .footer__wrapper {
	width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

.page--main {
	background-image: url(../images/svg/gradient_bg.svg);
	background-repeat: no-repeat;
	background-position: top 400px left 50%;
	background-size: 100%;
}
.page--inner {
	position: relative;
	padding-bottom: 108px;
	background-image: url(../images/svg/gradient_bg_footer.svg);
	background-repeat: no-repeat;
	background-position: bottom 0 left 50%;
	background-size: 100%;
}
.page__wrapper {
	position: relative;
	z-index: 100;
	box-sizing: border-box;
}
.page__side-bg {
	position: absolute;
	background-image: url(../images//svg//page_sidebg.svg);
	background-repeat: no-repeat;
	background-position: right 0 top 48%;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.header .header__burger {
	display: none;
	width: 40px;
	height: 40px;
	background-image: url(../images/svg/burger_button.svg);
	background-position: 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-left: auto;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {	
	.header .header__wrapper {
		width: 100%;
		padding: 0 32px;
	}
	.header .header__burger {
		display: none;
	}
	.footer .footer__wrapper {
		width: 100%;
		padding: 0 32px;
	}
	.page .page__wrapper {
		width: 100%;
	}
	.page--main {
		background: none;
	}
	.page .page__wrapper {
		width: 100%;
		padding: 0 32px;
	}
	.cards .cards__card {
		height: 458px;
	}
	.cards .cards__card .cards__card-cover {
		height: 206px;
	}
	.cards .cards__card .cards__card-content {
		height: 252px;
	}
	.cards--main .cards__card {
		height: 500px;
	}
	.cards--main .cards__card .cards__card-cover {
		height: 260px;
	}
	.cards--main .cards__card .cards__card-content {
		height: 240px;
	}

	.page__side-bg {
		display: none;
	}
	.page--inner {
		background: none;
		padding-bottom: 0;
	}
	.inner__content-tags {
		display: none;
	}
	.problem {
		display: none;
	}
	.inner {
		gap: 24px;
	}
	.inner .inner__main {
		width: 100%;
	}
	.inner .inner__side {
		width: 222px;
    	min-width: 222px;
	}
	.block-options {
		padding: 20px;
	}
	.block-sessions {
		padding: 24px;
		background-position: bottom -44px right -60px;
    	background-size: 153px;
	}

	ul li ul {
		display: none;
	}
	.blockquote-2 {
		padding-left: 140px;
		padding-right: 140px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	h1 {
		margin-bottom: 16px;
	}
	.header .header__wrapper {
		width: 100%;
		padding: 0 20px;
	}
	.header .menu {
		display: none;
	}
	.header .header__button {
		display: none;
	}
	.header .header__burger {
		display: block;
	}
	.footer .footer__wrapper {
		padding: 0 20px;
		width: 100%;
	}
	.footer .footer__main {
		flex-wrap: wrap;
		gap: 0;
		padding: 35px 0;
	}
	.footer .footer__menu {
		flex: 0 0 40%;
		padding-right: 30px;
		box-sizing: border-box;
		gap: 0;
	}
	.footer .footer__form {
		flex: 0 0 60%;
	}
	.footer .footer__socials {
		margin-top: 26px;
		flex: 0 0 100%;
	}
	.footer .footer__bottom {
		padding-left: 20px;
		padding-right: 20px;
	}
	.page .page__wrapper {
		width: 100%;
		padding: 0 20px;
	}
	.cards {
		grid-template-columns: 1fr 1fr;
	}
	.cards--main {
		grid-template-columns: 1fr;
	}
	.cards .cards__card {
		height: 446px;
	}
	.cards__card .cards__card-cover {
		height: 206px;
	}
	.cards__card .cards__card-content {
		height: 240px;
	}

	.cards--main .cards__card {
		height: 600px;
	}
	.cards--main .cards__card .cards__card-cover {
		height: 404px;
	}
	.cards--main .cards__card .cards__card-content {
		height: 196px;;
	}
	.page--main {
		background: none;
	}

	.page__side-bg {
		display: none;
	}
	.page--inner {
		background: none;
		padding-bottom: 0;
	}
	.inner__content-tags {
		display: none;
	}
	.problem {
		display: none;
	}

	.inner {
		flex-direction: column;
	}
	.inner .inner__main {
		width: 100%;
	}
	.inner .inner__side {
		width: 100%;
		min-width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-bottom: 60px;
	}
	.block-options {
		height: 480px;
		display: flex;
		flex-direction: column;
	}
	.block-options img {
		width: 257px;
		margin: 0 auto 24px;
		display: block;
	}
	.block-options button {
		margin-top: auto;
	}
	.block-psih {
		padding: 24px;
		height: 480px;
		display: flex;
		flex-direction: column;
	}
	.block-psih .block-psih__problems {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.block-psih button {
		margin-top: auto;
	}
	.block-care {
		height: 242px;
		background-size: unset;
	}
	.block-care::after {
		background-position: bottom -52px left 50%;
	}
	.block-sessions {
		height: 242px;
		padding: 24px;
		background-position: bottom -48px right 10px;
    	background-size: 166px;
	}

	ul li ul {
		display: none;
	}
	.blockquote-2 {
		padding-left: 140px;
		padding-right: 140px;
	}
}

@media screen and (max-width: 767px) {
	.header {
		padding: 0;
	}
	.header .header__wrapper {
		width: 100%;
		padding: 11px 16px;
	}
	.header .menu {
		display: none;
	}
	.header .header__button {
		display: none;
	}
	.header .header__burger {
		display: block;
	}
	.footer .footer__wrapper {
		width: 100%;
		padding: 0 16px;
	
	}
	.footer .footer__main {
		padding: 35px 0;
	}
	.footer .footer__main {
		flex-direction: column;
		gap: 23px;
	}
	.footer__form .footer__form-input {
		width: 100%;
	}
	.footer .footer__logo {
		margin-bottom: 20px;
	}
	.footer .footer__bottom {
		width: 100%;
		margin: 0 auto;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		padding: 20px 0;
	}
	h1 {
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 8px;
	}
	.page .page__wrapper {
		width: 100%;
		padding: 0 16px;
	}

	.cards {
		grid-template-columns: 1fr;
		gap: 16px;
	}
	.cards--main {
		margin-bottom: 16px;
	}
	.cards--main .cards__card {
		height: 484px;
	}
	.cards--main .cards__card .cards__card-cover {
		height: 206px;
	}
	.cards--main .cards__card .cards__card-content {
		height: 278px;
	}
	.cards__card {
		height: 484px;
	}
	.cards__card .cards__card-cover {
		height: 206px;
	}
	.cards__card .cards__card-content {
		height: 278px;
	}
	.page--main {
		background: none;
	}
	.tags {
		margin-bottom: 16px;
	}
	.tags--scrollable {
		flex-wrap: nowrap;
		overflow: scroll;
	}
	.tags--scrollable::-webkit-scrollbar {
		width: 0;
		height: 0;
		background: transparent;
	}

	.page__side-bg {
		display: none;
	}
	.page--inner {
		background: none;
		padding-bottom: 0;
	}
	.inner__content-tags {
		display: none;
	}
	.problem {
		display: none;
	}

	.inner {
		gap: 16px;
		flex-direction: column;
	}
	.inner .inner__main {
		width: 100%;
	}
	.inner .inner__side {
		width: 100%;
		min-width: 100%;
		gap: 16px;	
		padding-bottom: 60px;
	}
	.block-care::after {
		background-position: bottom -28px left 50%;
	}
	.block-sessions {
		padding: 16px;
		background-position: bottom -52px right 0;
	}

	ul li ul {
		display: none;
	}
	h3 {
		margin-bottom: 16px;
	}
	p {
		margin-bottom: 16px;
	}
	.blockquote-1 {
		padding: 16px;
		box-sizing: border-box;
	}
	.blockquote-1 .blockquote-1__text {
		background-size: 36px 30px;
	}
	.blockquote-2 {
		padding: 24px;
		height: auto;
		box-sizing: border-box;
	}
	.mobile-flex-column {
		flex-direction: column;
		gap: 16px;
	}
	.mobile-mb-0 {
		margin-bottom: 0;
	}
	.mobile-mb-16 {
		margin-bottom: 16px;
	}
	.mobile-flex-column img {
		width: 100%;
	}
	dl {
		padding: 16px;
	}
	ul li {
		margin-bottom: 8px;
		padding-left: 24px;
		position: relative;
	}
	.inner .inner__main {
		padding-bottom: 0;
	}
	.author-date {
		margin-bottom: 16px;
	}
}
@media screen and (max-width: 767px) and (min-width: 414px) {
	.header {
		padding: 0;
	}
	.header .header__wrapper {
		padding: 20px;
	}
	.footer .footer__wrapper {
		padding: 0 20px;
	}
	.footer .footer__main {
		padding: 35px 0;
	}
	.footer .footer__bottom {
		width: 100%;
		padding: 20px 0;
		margin: 0 auto;
	}
	h1 {
		font-size: 32px;
		line-height: 40px;
	}
	.cards--main .cards__card {
		height: 466px;
	}
	.cards--main .cards__card .cards__card-content {
		height: 260px;
	}
	.cards__card {
		height: 466px;
	}
	.cards__card .cards__card-content {
		height: 260px;
	}
	.page--main {
		background: none;
	}
	.page__wrapper {
		padding: 0 20px;
	}

	.inner {
		gap: 56px;
	}
	.inner .inner__side {
		gap: 16px;
		padding-bottom: 126px;
	}
	.block-sessions {
		padding: 24px;
		background-position: bottom -52px right 10px;
	}

	ul li ul {
		display: none;
	}
}